# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
TestApp/TestApp/bin/Debug/netcoreapp3.1/TestApp.dll
TestApp/TestApp/obj/Debug/netcoreapp3.1/TestApp.csprojAssemblyReference.cache
TestApp/TestApp/obj/Debug/netcoreapp3.1/TestApp.dll
TestApp/TestApp/obj/Debug/netcoreapp3.1/TestApp.MvcApplicationPartsAssemblyInfo.cache
TestApp/TestApp/obj/Debug/netcoreapp3.1/TestApp.pdb
TestApp/TestApp/obj/Debug/netcoreapp3.1/TestApp.genruntimeconfig.cache
TestApp/TestApp/obj/Debug/netcoreapp3.1/TestApp.csproj.CoreCompileInputs.cache
TestApp/TestApp/obj/Debug/netcoreapp3.1/TestApp.csproj.FileListAbsolute.txt
/ClientApp/node_modules
/TestApp/Entities/obj
/TestApp/Entities/bin
/TestApp/Contracts/obj
/TestApp/Contracts/bin
